{% extends "layouts/modlist.twig" %}

{% block title %}{{ version.title }}{% endblock %}

{% block content %}
<h1>Mods for version {{ version.title }}</h1>
<ul>
	{% for mod in mods %}
	<li>
		{{ mod.title }} by
		{% for author in mod.authors %}
			{%- if author is iterable -%}
				<a href="/authors/{{ author.0.id }}">
					{{- author.0.name -}}
				</a>
				{%- if not loop.last %}, {% endif -%}
			{%- endif -%}
		{%- endfor %}<br>
		{% for type in mod.types %}
			{%- if type is iterable -%}
				{{- type.0.title -}}
				{%- if not loop.last %}, {% endif -%}
			{%- endif -%}
		{% endfor %}
	</li>
	{% endfor %}
</ul>
{% endblock %}