{% extends "layouts/modlist.twig" %}

{% block title %}{{ version.title }}{% endblock %}

{% block content %}
<h1>Mods for version {{ version.title }}</h1>
<ul>
	{% for mod in mods %}
	<li>
		{{ mod.title }} by
		{% for author in mod.authors %}
			<a href="/authors/{{ author.author.id }}">
				{{- author.author.name -}}
			</a>
			{%- if not loop.last %}, {% endif -%}
		{%- endfor %}<br>
		{% for type in mod.types %}
			{{- type.type.title -}}
			{%- if not loop.last %}, {% endif -%}
		{% endfor %}
	</li>
	{% endfor %}
</ul>
{% endblock %}