{% extends "layouts/modlist.twig" %}

{% block title %}{{ version.title }}{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ version.title }}</h1>
</div>
{% if version.description is not empty %}
<div class="alert alert-info alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	{{ version.description }}
</div>
{% endif %}
<div class="input-group hidden-print">
	<span class="input-group-addon"><i class="fa fa-search"></i><span class="sr-only">Search</span></span>
	<input type="text" id="search" class="form-control" placeholder="Type to search" autofocus />
	<span class="input-group-btn">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Mode <span class="caret"></span></button>
		<ul class="dropdown-menu pull-right">
			<li><a id="search-simple">Simple Search</a></li>
			<li><a id="search-advanced">Advanced Search</a></li>
			<li class="divider"></li>
			<li><a id="search-reset">Reset Search Fields</a></li>
		</ul>
	</span>
</div>
<div class="input-group hidden-print advanced-search hidden-search">
	<span class="input-group-addon"><i class="fa fa-credit-card"></i><span class="sr-only">Name Search</span></span>
	<input type="text" id="search-name" class="form-control" placeholder="Mod Name" />
	<span class="input-group-addon"><i class="fa fa-group"></i><span class="sr-only">Author Search</span></span>
	<input type="text" id="search-author" class="form-control" placeholder="Author" />
	<span class="input-group-addon"><i class="fa fa-book"></i><span class="sr-only">Description Search</span></span>
	<input type="text" id="search-desc" class="form-control" placeholder="Description" />
	<span class="input-group-addon"><i class="fa fa-tags"></i><span class="sr-only">Tag Search</span></span>
	<input type="text" id="search-tag" class="form-control" placeholder="Tags" />
</div>
<table id="modlist" class="table table-hover modlist-table">
	<thead>
		<tr>
			<th>Mod Name <span class="pull-right">Author</span></th>
		</tr>
	</thead>
	<tbody>
		{% for mod in mods %}
		<tr id="{{ mod.mod.slug }}">
			<td>
				<p>
					<span>
						<a href="{{ mod.link }}" target="_blank">{{ mod.title }}</a>
						{% if mod.notes != "0" %}
						{{ mod.notes }}
						{% endif %}
					</span>
					<strong>
						<i class="pull-right">
							{% for author in mod.authors %}
								<a href="/authors/{{ author.id }}">
									{{- author.name -}}
								</a>
								{%- if not loop.last %}, {% endif -%}
							{%- endfor %}
						</i>
					</strong>
				</p>
			{% if mod.description is defined %}
				<p>{{ mod.description }}</p>
			{% endif %}
				<p>
			{% if mod.link_source is not empty %}
				<a href="{{ mod.link_source }}">
					<span class="fa-stack pull-right opensource">
						<i class="fa fa-file-o fa-stack-1x"></i>
						<strong class="fa-stack-1x fa-stack-text file-text"></strong>
					</span>
					<span class="sr-only">Open Source</span>
				</a>
			{% endif %}
			{% for type in mod.types %}
				<span class="label label-default {{ type.title|lower }}">{{ type.title }}</span>
			{% endfor %}
			{% for dependency in mod.dependencies %}
				<a href="#{{ dependency.dependency.slug }}" class="depends">
					<span class="label label-warning dependency">{{ dependency.dependency.slug }}</span>
				</a>
			{% endfor %}
				</p>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}